<!-- <app-devices> -->
<div class="container" *ngFor="let device of devices">
<!-- <ul>
  <li *ngFor="let device of devices">
    {{ device }} -->
    <h2 id="menu-categories-title" class="text-center">
      {{ device.device_name }}
    </h2>
    <div class="text-center">
      {{ device.device_img }}
    </div>

    <!-- <menu-item ng-repeat="menuItem in menuItemsCtrl.menuItems.menu_items"
               menu-item="menuItem">
    </menu-item> -->

  <!-- </li>
  <li> Device1 </li>
</ul> -->
</div>
<!-- </app-devices> -->
