
<div class="row-fluid faq" align="center">
        <div class="span10 offset1">
          <u><h3>FAQ</h3></u> <br>
          <div class="accordion" id="accordion2">
            <div class="accordion-group">
             <div class="accordion-group">
               <a class="ordion-toggle" data-toggle="collapse"
                  data-parent="#accordion2" href="#collapseOne">
                 <h4> How can I reserve/release a device? </h4>
               </a>
             </div>
            <div id="collapseOne" class="accordion-body collapse">
              <div class="accordion-inner">
                <ul>
                  <li>
                  <h4> Just click the radio button under the device you need,
                    if it's not reserved by others. </h4>
                  <li>
                  <h4> If it's reserved, you can find the user who reserved it
                    and can send a request to release. </h4>
                </ul>
              </div>
            </div>
           </div>
           <div class="accordion-group">
             <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse"
                 data-parent="#accordion2" href="#collapseTwo">
                  <h4> How can I add a device? </h4>
              </a>
             </div>
             <div id="collapseTwo" class="accordion-body collapse">
              <div class="accordion-inner">
                <ul> <li> <h4> Click on the add device details option in your
                  menu and fill in the form to add new device details and click submit.
                </h4> </li> </ul>
              </div>
             </div>
             <div class="accordion-group">
               <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse"
                   data-parent="#accordion2" href="#collapseThree">
                  <h4> How to find device details? </h4>
                </a>
               </div>
               <div id="collapseThree" class="accordion-body collapse">
                <div class="accordion-inner">
                  <ul> <li> <h4> Find the device you are looking for in device list
                    and click on the device name or image tile to navigate
                    to device details page. </h4> </li> </ul>
                </div>
               </div>
               <div class="accordion-group">
                 <div class="accordion-heading">
                  <a class="accordion-toggle" data-toggle="collapse"
                     data-parent="#accordion2" href="#collapseFour">
                    <h4> Need more help or info? </h4>
                  </a>
                 </div>
                 <div id="collapseFour" class="accordion-body collapse">
                  <div class="accordion-inner">
                    <ul> <li> <h4> Reach out to the support team listed in contacts
                      below. </h4> </li> </ul>
                  </div>
                 </div>
            </div>
           </div>
          </div>
       </div>

<div class="row-fluid faq" align="center">
  <br> <br>
  <h3><hr color="8ab6d6"><u>Contact:</u></h3><br>
  <h4>jkarnati@cisco.com</h4>
  <h4>rabalakr@cisco.com</h4>
</div>
